
//Profile config names for nf-core/configs

process.container = '/rds/general/user/xyz16/home/singularity_test.simg'

params {
  // Config Params
  config_profile_description = 'Roxys test config file for singularity'
  config_profile_contact = 'Roxy Zhang (xyz16@ic.ac.uk'
  config_profile_url = ' '
  // Resources
  max_memory = 640.GB
  max_cpus = 32
  max_time = 168.h
  // Analysis Resource Params
 
}
executor {
    name = 'pbspro'
    queueSize = 50
    cpus = 1
    memory = '32 GB'
    }

singularity {
  enabled = true 
  runOptions = "-B /rds/general/user/xyz16/home/docker_test:/mnt"
}
process {
  beforeScript = 'module load singularity'
  executor = 'pbspro'
  withName: singularity_test { 
  clusterOptions = '-l select=1:ncpus=1:mem=2gb'
  time = '1h'
  }
}

workDir: "/rds/general/user/xyz16/home"

